<html>

<head>
  <title>Error</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="page">
    <%- include('header') %>
    <main>
      <div class="error">
        <h2>404 ERROR! PAGE NOT FOUND!</h2>
      </div>
    </main>
  </div>
</body>

</html>